/vendor/
/node_modules/
/composer.lock
/package-lock.json
/.phpunit.result.cache
/.phpunit.cache
/.php-cs-fixer.cache
/.idea
/.vscode
/.DS_Store
/coverage
/build
/.env
/.env.backup
/.env.testing
/phpunit.xml
/yarn.lock
/yarn-error.log
/npm-debug.log
